body{
    background-color: pink;
}

h1{
 color:white;   
 border:double
}

.titulo
    color:aqua;
    text-align: center;
 button{
    color:azure;
    font: size 50px;

 }
    
        .imagem-flor {
            width: 400px;

        }
    

